.tab-background[selected='']::before {
    content: '';
    display: block;
    height: 70%;
    width: 5px;
    background-color: var(--zen-primary-color);
    position: absolute;
    border-radius: 5px;
    margin-top: 15%;
}
