.tab-background {
    position: relative;
}

.tab-background[selected='']::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px; 
    height: 100%;
    background-color: var(--zen-primary-color);
    
    @media (-moz-pref("mod.betteractivetab.tabwidth", "3px")) {
        width: 3px;
    }
    @media (-moz-pref("mod.betteractivetab.tabwidth", "4px")) {
        width: 4px;
    }
    @media (-moz-pref("mod.betteractivetab.tabwidth", "5px")) {
        width: 5px;
    }
    @media (-moz-pref("mod.betteractivetab.tabwidth", "6px")) {
        width: 6px;
    }
    @media (-moz-pref("mod.betteractivetab.tabwidth", "7px")) {
        width: 7px;
    }
}

@media (-moz-pref("mod.betteractivetab.onright")) {
  .tab-background[selected='']::after {
        left: unset; 
        right: 0px;
    }
}

@media (-moz-pref("mod.betteractivetab.custom")) {
  .tab-background[selected='']::after {
        background-color: var(--mod-betteractivetab-hexcode);
    }
}


