.tab-background {
    position: relative;
}

.tab-background[selected='']::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 3px;
    height: 100%;
    @media (-moz-pref("mod.betteractivetab.tabcolor", "var(--zen-primary-color)")) {
        background-color: var(--zen-primary-color);
    }

    @media (-moz-pref("mod.betteractivetab.tabcolor", "var(--mod-betteractivetab-hexcode)")) {
        background-color: var(--mod-betteractivetab-hexcode);
    }
}

@media (-moz-pref("mod.betteractivetab.onright")) {
  .tab-background[selected='']::after {
        left: unset; 
        right: 0px;
    }
}


